.App {
  text-align: center;
}

.App-header {
  background-color: #d4397a;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: white;
  letter-spacing: 2px;
  font-family: 'Lobster Two', cursive;
}


/* font-family: 'Lobster Two', cursive;
font-family: 'Quattrocento', serif; */
